<h1>Listing flats</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Adress</th>
      <th>Day price</th>
      <th>Description</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><%= flat.title %></td>
        <td><%= flat.adress %></td>
        <td><%= flat.day_price %></td>
        <td><%= flat.description %></td>
        <td><%= flat.owner_id %></td>
        <td><%= link_to 'Show', flat %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

