<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flat.title %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @flat.adress %>
</p>

<p>
  <strong>Day price:</strong>
  <%= @flat.day_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @flat.owner.full_name %>
</p>

<p>
  <strong>Flat commidities:</strong>
  <% @flat.tags.each do |tag| %>
  <%= tag.name + " " %>
  <% end %>
</p>

<p>
  <strong>Flat photos:</strong>
  <br><br>
  <% @flat.pictures.each do |picture| %>
  <%= image_tag picture.file.url(:medium) %>
  <% end %>
</p>

<p>
  <% unless @flat.owner == current_user %>
    <%= link_to "Book this appartment", new_flat_booking_path(@flat), class: "btn btn-default" %>
  <% end %>
</p>

<p> <% if @flat.owner == current_user %>
  <%= link_to 'Edit', edit_flat_path(@flat) %>
  <%= link_to 'Delete', flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

