<h1>Hello, <%= current_user.full_name %> !</h1>

<h2>My information :</h2>

<p> 
	<%= image_tag current_user.avatar.url(:medium) %>
	<br>Email: <%= current_user.email %>
	<br>Telephone: <%= current_user.telephone %>
</p>

<p>
	<%= link_to 'Edit your information', edit_user_registration_path %>
</p>

<h2>My Gulags:</h2>

<p>
<table class="table table-striped">
	<tbody>
	<% current_user.flats.each do |flat| %>
		<tr>
			<td><%= flat.title %></td>
			<td><%= link_to 'Show', flat_path(flat) %></td>
			<td><%= link_to 'Edit', edit_flat_path(flat) %></tb>
			<td><%= link_to 'Delete', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
    </tbody>
</table>
</p>

<h2>My bookings:</h2>
<p>
<table class="table table-striped">
	<tbody>
	<% current_user.bookings.each do |booking| %>
		<tr>
			<td><%= booking.start_date %></td>
			<td><%= booking.end_date %></td>
			<td><%= booking.flat.title %></td>
			<td><%= link_to 'Show', flat_booking_path(booking.flat_id, booking.id) %></td>
			<td><%= link_to 'Delete', flat_booking_path(booking.flat_id, booking.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
    </tbody>
</table>
</p>