<h1>Bonjour, <%= current_user.full_name %> !</h1>

<h2> Vos informations :</h2>
<p> 
	email: <%= current_user.email %>
	telephone: <%= current_user.telephone %>
</p>

<h2>Vos appartements:</h2>
<ul>
	<% current_user.flats.each do |flat| %>
		<li>
			<%= flat.title %>
			<%= link_to 'Show', flat_path(flat) %>
			<%= link_to 'Edit', edit_flat_path(flat) %>
			<%= link_to 'Delete', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' } %>%>
		</li>
	<% end %>
</ul>

<%= link_to "Ajouter un appartement", new_flat_path %>
<%= link_to "Voir tous les utilisateurs", users_index_path %>
<%= link_to "Voir tous les appartements", flats_path %>