<h1><%= @user.full_name %></h1>


<table class="table table-striped">
  <tbody>
	<% @user.bookings.each do |booking| %>
	  <tr>
	    <td><%= booking.flat.title %></td>
	    <td><%= booking.flat.adress %></td>
	    <td><%= booking.flat.day_price %> € per day</td>
	    <td><%= booking.start_date %></td>
	    <td><%= booking.end_date %></td>
	    <td>
	    </td>
	  </tr>
	<% end %>
  </tbody>
</table>
